#forecast {
  background-color: rgba(0, 0, 0, 0.5);
  width: 40%;
  border-radius: 0 10px 10px 0;
}

.forecast-icon {
  height: 20%;
}

.today-weather>div>h3 {
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.today-weather .weather {
  font-size: 2em;
  font-weight: 200;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  color: white;
}

.search-box {
  // border-top: white solid 1px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  margin: 15px auto;
}

form {
  display: flex;
  justify-content: center;
}

.search-box .search-bar {
  width: 60%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px 0 0 8px;

  box-shadow: 0px 5px rgba(255, 255, 255, 0.5);
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 1);
}

.search-box button {
  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0px 8px 8px 0;

  box-shadow: 0px 5px rgba(255, 255, 255, 0.5);

  color: #797979;
}

.search-box button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.forecast-results {
  padding: 20px 40px;

  li {
    border-top: white solid 1px;
    list-style: none;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
  }
}

.forecast-results>div>p {
  text-align: center;
  font-style: italic;
  font-weight: 100;
}

@media all and (max-width: 992px) and (min-width: 320px) {
  .today-weather .weather {
    font-size: 1.5em
  }

  #forecast {
    width: auto;
    border-radius: 0 0px 10px 10px;
    padding-top: 80px;
  }

  .search-box {
    margin: 10px auto;
  }
}

@media all and (max-width: 520px) and (min-width: 320px) {
  #forecast {
    padding-top: 40px;
  }

  .today-weather>div>h3 {
    text-shadow: 1px 1px rgba(50, 50, 70, 0.5);
  }

  .today-weather .weather {
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  }
}
