#forecast {
  background-color: black;
  opacity: 0.5;
  width: 40%;
}

.forecast-icon {
  height: 20%;
}

.today-weather {

  h3 {
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
  }
}

.search-box {
  border-top: white solid 1px;
  padding-top: 5px;
  text-align: center;
}

.forecast-results {
  padding: 20px 40px;

  li {
    border-top: white solid 1px;
    list-style: none;
    padding: 5px 10px;
  }
}
