#location {
  width: 60%;
  height: 100%;
  background-position: center;
  align-content: space-between;
  display: grid;
  border-radius: 10px 0px 0px 10px;
}

.app-warm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.35)), url("https://images.pexels.com/photos/1366919/pexels-photo-1366919.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}

.app {
  background-image: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.35)), url("https://images.pexels.com/photos/127577/nature-stars-night-galaxy-127577.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  transition: 0.4 ease-out;
  background-position: bottom;
  background-size: cover;
}

.title {
  padding: 5px 20px;
  text-align: right;

  h2 {
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  }

  p {
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  }
}

.data {
  margin: auto;
  border-collapse: collapse;

  th {
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  }

  td {
    padding: 15px;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  }
}

.date-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.day {
  .date {
    font-weight: lighter;
    padding-bottom: 5px;
    font-size: 1.5em;
  }

  .time {
    font-weight: lighter;
    padding-bottom: 5px;
    font-size: 1.5em;
  }
}

.temperature {
  font-size: 4em;
  font-weight: lighter;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

@media all and (max-width: 992px) and (min-width: 320px) {
  #location {
    height: 70vh;
    width: auto;
    border-radius: 10px 10px 0px 0px;
    padding: 20px 15px;
  }

  .day {
    .date {
      font-size: 1em;
    }
  }

  .day {
    .time {
      font-size: 1em;
    }
  }

  .temperature {
    font-size: 2em;
  }
}

@media all and (max-width: 520px) and (min-width: 320px) {
  #location {
    border-radius: 0;
  }

  .date-time {
    text-shadow: 1px 1px rgba(50, 50, 70, 0.5);
  }

  .temperature {
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  }

  .title {
    h2 {
      text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
    }

    p {
      text-shadow: 1px 1px rgba(50, 50, 70, 0.5);
    }
  }

  .data {
    th {
      text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
    }

    td {
      text-shadow: 1px 1px rgba(50, 50, 70, 0.5);
    }
  }

  .day {
    .date {
      font-weight: normal;
    }

    .time {
      font-weight: normal;
    }
  }
}
