#location {
  background-image: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.35)), url("https://images.pexels.com/photos/1028600/pexels-photo-1028600.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  width: 60%;
  height: 100%;
  background-position: center;
  align-content: space-between;
  display: grid;
  border-radius: 10px 0px 0px 10px;
}

.title {
  padding: 5px 20px;
  text-align: right;

  h2 {
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  }

  p {
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  }
}

.date-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.day {
  .date {
    font-weight: lighter;
    padding-bottom: 5px;
    font-size: 1.5em;
  }

  .time {
    font-weight: lighter;
    padding-bottom: 5px;
    font-size: 1.5em;
  }
}

.temperature {
  font-size: 4em;
  font-weight: lighter;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
