#location {
  background-image: linear-gradient(rgba(230, 100, 101, 0.40), rgba(145, 152, 229, 0.52)), url("https://images.pexels.com/photos/1028600/pexels-photo-1028600.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  width: 60%;
  height: 100%;
  background-position: center;
  align-content: space-between;
  display: grid;
}

.title {
  padding: 5px 20px;
  text-align: right;
}

.date-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.day {
  .date {
    font-weight: lighter;
    padding-bottom: 5px;
    font-size: 1.5em;
  }

  .time {
    font-weight: lighter;
    padding-bottom: 5px;
    font-size: 1.5em;
  }
}

.temperature {
  font-size: 4em;
  font-weight: lighter;
}
