@import './components/cards';
@import './components/forecast';
@import './components/location';

body {
  font-family: Helvetica;
  background-image: url('https://images.unsplash.com/photo-1470770841072-f978cf4d019e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2400&q=142');
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
